.contact_text {
    color: rgb(115, 209, 209);
  }
  
  .contact_numer {
    color: coral;
  }
  .nav-contact {
    justify-content: end;
  }
  
  @media screen and (max-width: 992px) {
    .nav-link {
      font-size: 10px;
    }
    .nav-contact {
      justify-content: center;
    }
  }
  
  .menu__list {
    margin-right: 15px;
  }
  
  .nav-item {
    margin-right: 7px;
  }
  
  .nav-link {
    color: rgb(39, 30, 30);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .nav-link:hover {
    color: rgb(227, 136, 24);
  }
  
  .menu__link-btn {
    color: #fff;
    background-color: rgb(227, 136, 24);
    border: 1px solid rgb(227, 136, 24);
    border-radius: 50%;
  }
  
  .menu__link-btn:hover {
    background-color: #ee7171;
    border: 1px solid #ee7171;
  }
  
  .menu__btn-span {
    color: #fff;
  }

 

 .task3 {
  background-color: rgb(227, 136, 24);
  
  
 }
 .task4 {
  margin: 100px;
 }
 .mark {
  width: 40px;
  margin: 0 auto;
  padding: 0;
  
 }

 .span_element {
  position: relative;
  top: 0;
}
.span_round {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #ff951e;
  top: 45px;
  left: 10px;
}

.span_line {
  position: absolute;
  height: 2px;
  width: 50px;
  left: 25px;
  top: 50px;
  background: #ff951e;
}



 .task5 {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid grey;

 }

.task6 {
  height: 500px;
 
  /*background: url(../img/img2.jpg);
  background-repeat: no-repeat;
  z-index: -5;*/
  
}
.inf {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
}

.inf_left, .inf_right {
  height: 450px;
  width: 300px;
  border: 5px solid red;
}


 .task8 {
  background-color: rgb(227, 136, 24);
 }
 .task9 {
  padding-top: 40px;
  padding-bottom:60px ;
 }

 .task10 {
  padding-top: 20px;
  padding-bottom:20px ;
 }
 .logo_sm {
  color: rgb(227, 136, 24);
 }

